{% if request.user.is_driver %}
  {% if request.user in car.drivers.all %}
    <form method="post" action="{% url 'taxi:car-remove-driver' pk=car.id %}">
      {% csrf_token %}
      <input type="submit" value="Delete me from this car" class="btn btn-danger">
    </form>
  {% else %}
    <form method="post" action="{% url 'taxi:car-assign-driver' pk=car.id %}">
      {% csrf_token %}
      <input type="submit" value="Assign me to this car" class="btn btn-success">
    </form>
  {% endif %}
{% else %}
  <p>You do not have permission to assign or remove yourself as a driver for this car.</p>
{% endif %}
